<div>
    <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
        <div class="uk-card-media-top">
            <img src="{{url}}">
            <a href="/deleteimage/{{../poi._id}}/image/{{public_id}}"  class="ui icon button"> <i class="icon trash"></i></a>
        </div>
    </div>
</div>