<section class="ui raised segment">
    <div class="ui grid ">
        <h3 class="title">Create Category</h3>
        <div>
        <form action="/createCategory" method="POST">
            <div class="field" name="name">
                <label>Category:</label>
                <input type="text" name="name" placeholder="Category Name">
            </div>
            <button class="ui blue submit button">Create</button>
        </form>
        </div>
    </div>
</section>