{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">

        <article class="ten wide column">
            <header class="ui  header">Upload your points of interest</header>
            <p> Create a library of all your favourite points of interest </p>
            {{>error}}
        </article>
    </div>
</section>
